<div class="grid grid-cols-12   ">
  <!-- Left Section -->
  <div class="col-span-12 md:col-span-6 h-[38.00rem] m-3 bg-blue-950  rounded-lg flex flex-col">
    <!-- Main Content -->
    <div class="p-4 lg:p-10">
      <h1 class="text-white text-2xl sm:text-3xl lg:text-4xl leading-snug pt-5 md:pt-10">
        Our end-to-end talent cloud <br />
        platform works harder to find <br />
        quality candidates you need on- <br />
        demand
      </h1>
      <div class="grid grid-cols-12 gap-2 mt-11">
        <div class="col-span-12 md:col-span-4 flex items-center justify-center md:justify-start">
          <div class="relative flex">
            <img src="images/man.jpg" alt="Rating" class="h-14 w-14 rounded-full" />
            <img src="images/man1.jpg" alt="Rating" class="h-14 w-14 absolute top-0 left-10 rounded-full z-10" />
            <img src="images/girl.jpg" alt="Rating" class="h-14 w-14 absolute top-0 left-20 rounded-full z-20" />
            <img src="images/man2.jpg" alt="Rating" class="h-14 w-14 absolute top-0 left-[120px] rounded-full z-30" />
          </div>
        </div>
        <div class="col-span-12 md:col-span-8 text-center md:text-left">
          <p class="text-gray-100 text-sm sm:text-base mt-0">
            Discover, align, evaluate and oversee top talent with unparalleled efficiency.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer Section -->
    <div class="flex flex-col sm:flex-row lg:text-xs sm:text-sm text-gray-400 py-4 lg:p-4 mt-auto">
      <!-- Links Section -->
      <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4 items-center sm:items-start">
        <a href="/terms-of-use" target="_blank" class="cursor-pointer hover:underline">
          Terms of Use
        </a>
        <a href="/privacypolicy" target="_blank" class="pl-3 cursor-pointer hover:underline">
          Privacy Policy
        </a>
        <a href="/cookiepolicy" target="_blank" class="pl-3 cursor-pointer hover:underline">
          Cookie Policy
        </a>
      </div>

      <!-- Footer Text Section -->
      <div class="mt-4 sm:mt-0 sm:ml-auto text-center sm:text-right">
        <p>
          2024 hireHQ. All rights reserved worldwide.
        </p>
      </div>
    </div>
  </div>

  <!-- Right Section -->
  <div class="col-span-12 md:col-span-6">
    <router-outlet></router-outlet>
  </div>
</div>