<div class="grid grid-cols-12 h-screen">
  <!-- Main Content Container -->
  <div class="col-span-3 hidden sm:block"></div>
  <div class="col-span-12 md:col-span-6 flex justify-center items-center">
    <div class="h-auto w-auto p-6">
      <div class="flex justify-center">
        <img src="images/success.svg" alt="" class="mt-8 h-20">
      </div>
      <div class="text-center font-bold text-2xl mt-10 whitespace-nowrap">
        <p>Password Reset Successfully</p>
      </div>
      <div class="text-base text-gray-400 text-center mt-5 whitespace-nowrap">
        <p>Your password has been reset successfully</p>
      </div>
      <div class="text-base text-gray-400 text-center mb-14">
        <span class="whitespace-nowrap">
          <a class="text-blue-900 text-sm cursor-pointer" [routerLink]="['auth/login']">Click here</a> to Sign in
        </span>
      </div>
    </div>
  </div>
</div>