<div class="grid grid-cols-12 h-screen b">
  <div class="col-span-2 hidden sm:block"></div>

  <div class="col-span-12 md:col-span-7 flex items-center justify-center">
    <div class="p-6 md:p-8 w-full max-w-lg space-y-8 sm:m-2">
      <div>
        <p class="font-medium text-xl md:text-2xl mt-4 text-center md:text-left">
          Forgot password
        </p>
        <p class="text-gray-600 text-sm text-center md:text-left whitespace-nowrap mt-1">
          Please fill the below field to reset the password
        </p>
      </div>

      <div class="mt-8">
        <form [formGroup]="forgotForm" (ngSubmit)="onResetEmail()">
          <label for="email" class="block text-sm md:text-base font-medium text-gray-700">
            Email Address
          </label>
          <input type="email" id="email"
            class="mt-2 block w-full px-3 py-2 border border-gray-300 hover:border-blue-800 rounded-md shadow-sm text-gray-900 text-sm md:text-base focus:outline-none focus:ring-2 focus:ring-blue-800"
            placeholder="Enter email address" formControlName="email" />
          <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched"
            class="text-red-500 text-sm mt-1">
            Please enter a valid email address.
          </div>
        </form>
      </div>

      <div class="mt-6">
        <button type="submit"
          class="w-full px-6 py-2 text-white bg-indigo-950 rounded-md font-medium hover:bg-purple-800 focus:outline-none focus:ring-2 focus:ring-purple-700 focus:ring-offset-2 text-sm md:text-base disabled:opacity-45"
          [disabled]="forgotForm.invalid" (click)="onResetEmail()">
          Reset Password
        </button>
      </div>

      <div class="text-sm md:text-base text-gray-400 text-center mt-6">
        <span>
          Go back to
          <a routerLink="/auth/sign-in" class="text-blue-900 hover:underline cursor-pointer">
            Sign in
          </a>
        </span>
      </div>
    </div>
  </div>
</div>