<div class="grid grid-cols-12 h-screen ">
    <!-- Main Content Container -->
    <div class="col-span-3 hidden sm:block"></div>
    <div class="col-span-12 md:col-span-6  flex justify-between  md:items-center ">
        <div class=" h-auto w-auto p-6">
            <div class="flex justify-center">
                <img src="https://cdn-icons-png.flaticon.com/256/6225/6225308.png" alt="" class="mt-8 h-20">
            </div>
            <div class="text-center font-bold text-2xl mt-10">
                <p>Verification successfully</p>
            </div>
            <div class="text-base text-gray-400 text-center mt-5">
                <p>Your email address has been verified</p>
            </div>
            <div class="text-base text-gray-400 text-center mb-14">
                <span><a class="text-blue-900 text-sm cursor-pointer" [routerLink]="['/auth/login']"
                        routerLinkActive="router-link-active">Click here</a> to Sign in</span>
            </div>

        </div>
    </div>
</div>